<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <!--<connectionStrings><add name="adminpaqEntities" connectionString="metadata=res://*/Adminpaq.csdl|res://*/Adminpaq.ssdl|res://*/Adminpaq.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.4.44\SQLEXPRESS;initial catalog=adminpaqcopia;persist security info=True;user id=eduardo;password=96450324;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="MVI_IPEntities" connectionString="metadata=res://*/MVI.csdl|res://*/MVI.ssdl|res://*/MVI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.149;initial catalog=MVI_IP;persist security info=True;user id=jruiz;password=Ed96450324;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
<connectionStrings><add name="adminpaqEntities" connectionString="metadata=res://*/Adminpaq.csdl|res://*/Adminpaq.ssdl|res://*/Adminpaq.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.4.44\SQLEXPRESS;initial catalog=adminpaqcopia;persist security info=True;user id=eduardo;password=96450324;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>