<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

  </configSections>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="LocalMySqlServer" connectionString="" providerName="" />
    <add name="Adminpaqmex" connectionString="WawAZ3XfHZnShq4h1p8udsd1BnNyX4tjk8gH4GTm7WckPSOl4V2g01veUbO3vDgk6PagIPgGGdsDLtXhEvCyzgnlWGWDTZuZprkr7jgpBi70fucknmZKKYS7nqSEZVMmBKxQLGGGSzz1Al0qBWe914rBPpruoJmYvcD1b3T3jrQ2I9ANp3OvPgnHTTrYl81SsndrK84qpF7MWRI8UYKv5we1ZG/LXmCfrGrZzIWevZaJs7jmckJLEUEq5KpD8rwnXDDnxP2ImSClFauUwl1l7fhA1UwUdJHPcg4drcRIWewGqgdh9n1Yc3pV/0XNAFRpDJrfNO5sF2fW+q64q6rkKyV5Ruowq5DmS1ImGpbksX5U4YFulh8nwaWObLDkUaI+PfMFs4RX8BQjx/Qwxqf5sw=="
      providerName="System.Data.EntityClient" />
    <add name="AdminpaqUSA" connectionString="/CFwceHJTieNYOhFji7g6riT/tQonSAH2DYK7R030NNh0KXkjVthaBLgYIlpcZAmRaLwaT4oab30c5p8AloJG4cPa03DeQAECiK4nZMuEwR3J+CgA0ai4fSrhftIYzk/HWDqjFBS+HVW9OnpS3jpTEt8kTh/zHZ4wv3CckdHsYVajcGYFoXc3I/CaOjweMAv8x/G8jh7ZjOpje9fictZV33Bc8Ld63E/eDUXk2V9dqhDEOGGEDjt461Pp4kp7PaWw3JTIW5tdOpWJvBg3YSV9u//LI9zpWRPKrQBN6GDktSLqN4ObFjUButqowDhnDFi1xFplQ2qj2hZCfKEWTIvKkjziUfkewBWSyJ9IKrVX1bmBZ8kdt5OkKbcc3GJaDO3245eUulJnQeWId1nj0O4bpLv+1IYL9wI0GiV30EIZOY="
      providerName="System.Data.EntityClient" />
    <add name="UsuariosEntities" connectionString="Dqh7OYPSRcJft1E1a6nS3DKpogPcLsRBg49mYyGDxnwPCBPLsnSJfepfQSxlCFOAf4CZuJEDk4LchIenCffrezvKuE7P+23HgeFNLnGGzph9NF09vMZ4JGm+hL551SyGgn73JbnzlDTXE9Ojh6alt83SooFcsVTRgDWSk//7SD11EICz0no4SSqj+InX8aRpv+vHviyKnYFjdHx2ci8whHtSKddyuClZRv6SkVuo3fNiGb1d0DtISjXqjmrWFIZ+ttzMZQyqkqC78AHNb3IBQke3ZTQs9gxNH5X6Hk3plKq+P+K8kgSZ29HyEN5MWhLMc8Y8TCXKlC6CgqLlNCzPYEajqAN0E/E66TyDZ7FBinKXWdpA8wFcdHNI2iF/Mv+/l4PBCjZufLB58hDsfQ7E7l9+8PNpOKWbdyzMHMN+cD6NvTyMRVTa0miglpeHMXgRiJ3lUjWd8uo="
      providerName="System.Data.EntityClient" />
    <add name="MVI_IPEntities" connectionString="xlau5mtRC3Wf5xfiK+9WJF+8itF6igHmcMZxrjDgKcw5LUzwRgwVNT11atXTIvjmhw8JfSMjrAX6mzGEnU+BF+Y+WonI7MaSHOpe/spd4qPpTZ9HzcnnaEtGUH5vg2C1J2wXl6xDJfP/HAIdiWBk7yXc9biCbDdwF8XecWRV1G63NGorrY/EjDEvA3C8PGobk2OBW5EQ8V1+UDQtbWtYnoy96msqA1ZzUJR1X0h+BCTuvncbdB12qjhQmu58J6HEjV4nqg6FV3faAfuJ1hIftU/+lpR0T+CB9GQSnyVO+6dz/jusHl6zr6hy3BWuWLUFRSacHxivIxNhntOrpC+bSAA0TFxZ6NeQDP+AidK85nJUPYKPpLbEoi5M0EepGzuf"
      providerName="System.Data.EntityClient" />
    <add name="TransitosEntities" connectionString="metadata=res://*/Transito.csdl|res://*/Transito.ssdl|res://*/Transito.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.4.44\SQLEXPRESS;initial catalog=adminpaqcopia;persist security info=True;user id=eduardo;password=96450324;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v13.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>